.custom-btn {
  transition: color 270ms cubic-bezier(0.16, 0.01, 0.77, 1);

  &:before {
    content: '';
    transform: scaleX(0);
    transform-origin: right 50%;
    transition-property: transform;
    transition-duration: 380ms;
    background-color: #fff;
    padding-bottom: 2px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    &:before {
      transform: scaleX(1);
      transform-origin: left 50%;
    }
  }
}
